@model NETboard.Models.AnnouncementWithItsComment


@*list all announcements with their data*@
@foreach (var item in Model.AnnouncementsList.Reverse())
{
    <div class="Announcement">
    ___________________________________________________________________________________
        <div class="title">
            <h1>
                @Html.DisplayFor(modelItem => item.Title)
            </h1>
        </div>
        <div class="Information">

            <p>
                @Html.DisplayFor(modelItem => item.staffName)
            </p>
            <p>
                @Html.DisplayFor(modelItem => item.Content)
            </p>
            <p>
                @Html.DisplayFor(modelItem => item.TimeStamp)
            </p>
            <p>
                @*link to page that will show students views*@
                @if (User.IsInRole("canEdit"))
                {
                    @Html.ActionLink("Views", "Index", "StudentNotVieweds", new { id = item.Id }, null)
                        
                }
            </p> 
            
        </div>
       @*ajax call for delete button to delete announcement without refresh*@
        <div class="Button">
            <p>
                @if (User.IsInRole("canEdit"))
                {
                using (Ajax.BeginForm("AjaxDeleteAnnouncement", "Announcements", new { id = item.Id }, new AjaxOptions
                {
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "POST",
                    UpdateTargetId = "announcementsDiv"
                }))
                {
                        @Html.AntiForgeryToken()
                        <input type="submit" value="Delete" class="btn btn-default" />

                }
                }


            </p>
        </div>
        @*ajax call to insert comment without refresh*@
        @using (Ajax.BeginForm("AjaxInsertComment", "Announcements", new { id=item.Id }, new AjaxOptions
            {
                InsertionMode = InsertionMode.Replace,
                HttpMethod = "POST",
                UpdateTargetId = "announcementsDiv"
            }))
            {
                @Html.AntiForgeryToken()

                        <!--comment content input box-->
                <div class="form-horizontal">
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.CommentModel.CommentContent, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CommentModel.CommentContent, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CommentModel.CommentContent, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            }
        @*list all comments for the speicific announcement*@
        <div class="Comment">
            <p>
                @foreach (var comment in item.ListOfComments.Reverse())
                {
                    <h3>
                        @Html.DisplayFor(modelItem => comment.CommentContent)
                    </h3>
                <p>
                    @Html.DisplayFor(modelItem => comment.TimeStamp)
                </p>
                    <p>
                        @Html.DisplayFor(modelItem => comment.UserName)
                    </p>
                    @*ajax call for delete button for comments to update without refresh*@
                    <p>
                        @using (Ajax.BeginForm("AjaxDeleteComment", "Announcements", new { id = comment.Id }, new AjaxOptions
                        {
                            InsertionMode = InsertionMode.Replace,
                            HttpMethod = "POST",
                            UpdateTargetId = "announcementsDiv"
                        }))
                        {
                        @Html.AntiForgeryToken()
                          <input type="submit" value="Delete" class="btn btn-default" />
                        
                        }
                    </p>

                }
            </div>

            
        </div>


}

____________________________________________________________________________________

